html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    background: linear-gradient(45deg, black, darkblue);
    background-size: 200%;
    animation: bg-animation 40s infinite alternate;
    color: white;
}

@keyframes bg-animation {
    0% {background-position: left;}
    100% {background-position: right;}
}

p {
    margin: 0;
    padding: 1em;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    min-height: 55px;
    height: 10%;
    padding: 1em;
    text-align: center;
    border-left: 2px solid white;
    border-radius: 8px;
    overflow: hidden;
    background: linear-gradient(45deg, rgb(0, 162, 255) 50%, rgb(63, 63, 63) 50%);
    background-size: 250% 100%;
    background-position: right;
    transition: background-position 0.75s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:hover {
    background-position: left;
}

button {
    width: 100%;
    
    background-color: transparent;
    color: white;
    border: transparent;
}

.library-box {
    width: 20%;
    height: 100%;
    background-color: rgb(37, 37, 37);
}

.welcome-text {
    width: 100%;
    min-height: 75px;
    height: 10%;
    font-size: 1.3em;
}

.project-library {
    width: 100%;
    height: 70%;
    overflow: auto;
    background-color: rgb(63, 63, 63);
}

.project-controls {
    min-height: 1em;
    height: 20%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 0.5em;
    overflow: auto;
}

.project-btn {
    font-size: 1.3em;
    border: 3px solid white;
    border-radius: 8px;
    transition: font-size 0.5s;
}

.project-btn:hover {
    font-size: 1.4em;
}





































.task-library {
    height: 80%;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-radius: 0 8px 8px 0;
    background-color: rgb(63, 63, 63);
}

.priority-box {
    width: 100%;
    height: 6.7%;
    background: black;
    font-size: 1.3em;
    line-height: 0;
    color: cyan;
    border-radius: 5px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.add-task-btn {
    width: 20%;
    height: 70%;
    margin: 0;
    padding: 0;
    background-color: grey;
    border-left: 1px solid inherit;
    border-right: 1px solid inherit;
    border-radius: inherit;
    font-size: 1em;
    font-weight: 900;
}

.add-task-btn:hover {
    font-size: 1.1em;
}

.essential-library {
    height: 26.7%;
    overflow: auto;
}

.major-library {
    height: 26.7%;
    overflow: auto;
}

.minor-library {
    height: 26.7%;
    overflow: auto;
}

.big-circle {
    width: 1.5em;
    height: 1.5em;
    border: 1px solid cyan;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .small-circle {
    width: 1em;
    height: 1em;
    border-radius: 100px;
    background: transparent;
  }
  
  .small-circle:hover {
    background: cyan;
  }




































.task-info-box {
    width: 30%;
    height: 50%;
    margin: auto;
    background: white;
    border-radius: 8px;
}

.due-date-display {
    height: 20%;
    font-size: 1.1em;
    font-weight: 900;
    background: grey;
    border-bottom: 3px solid white;
    border-radius: 4px;
}

.description-display {
    height: 70%;
    padding: 1.5em;
    font-size: 1em;
    color: black;
    text-align: left;
    overflow: auto;
}

.edit-btn {
    height: 10%;
    font-size: 1.3em;
    font-weight: 900;
    background: linear-gradient(to top, dodgerblue 50%, grey 50%);
    background-size: 100% 250%;
    background-position: top;
    border-top: 1px solid grey;
    border-radius: 4px;
    transition: background-position 0.75s ease-in-out;
}

.edit-btn:hover {
    background-position: bottom;
}