html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    background-color: orange;
    color: white;
}

p {
    margin: 0;
    padding: 1em;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    height: 10%;
    padding: 1em;
    text-align: center;
    border-left: 2px solid white;
    border-radius: 3px;
    overflow: hidden;
}

li:hover {
    background-color: orange;
}

button {
    width: 100%;
    
    background-color: transparent;
    color: white;
    border: transparent;
}

.library-box {
    width: 20%;
    height: 100%;
    background-color: black;
    border-right: 3px solid white;
    overflow: auto;
}

.project-library {
    width: 100%;
    height: 70%;
    overflow: auto;
}








































.priority-box {
    font-size: 1.3em;
    border-radius: 5px;
}

.red-bg {
    background-color: darkred;
}
.yellow-bg {
    background-color: rgb(199, 199, 0);
}
.green-bg {
    background-color: darkgreen;
}








































.task-info-box {
    width: 30%;
    height: 50%;
    margin: auto;
    background-color: grey;
    border: 3px solid black;
    border-radius: 8px;
}

.due-date-display {
    height: 20%;
    font-size: 1.1em;
    border-bottom: 1px solid black;
}

.description-display {
    height: 70%;
    padding: 1.5em;
    font-size: 1em;
    text-align: left;
    border-bottom: 1px solid black;
    overflow: auto;
}

.edit-btn {
    height: 10%;
    font-size: 1.3em;
}